@page "/inventories"

@inject NavigationManager NavigationManager
@inject IViewInventoriesUseCase ViewInventoriesUseCase 

<h3>InventoryList</h3>
<br />
<ViewInventoriesComponent 
    OnSearchInventories="OnSearchInventories">
</ViewInventoriesComponent>

@if(listInventories != null )
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inventory in listInventories)
            {
                <InventoryItemComponent Inventory="inventory"></InventoryItemComponent>
            }
        </tbody>
    </table>
}

<br />

<button type="button" class="btn btn-primary" @onclick="AddInventory">Add Inventory</button> 

@code {
    private List<Inventory>? listInventories;

    protected override async Task OnInitializedAsync()
    {
        var invs = await ViewInventoriesUseCase.ExecuteAsynce(string.Empty);
        listInventories = invs.ToList();
    }

    private void OnSearchInventories(List<Inventory> inventories)
    {
        listInventories = inventories;
    }

    private void AddInventory()
    {
        NavigationManager.NavigateTo("/addinventory");
    }

    private void EditInventory(int invId)
    {
        NavigationManager.NavigateTo($"/editinventory/{invId}");
    }
}
